<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Список стран</title>
</head>
<body>
<div class="container">

    <h3>Страны</h3>
    <hr>
    <a th:href="@{/plaofcreat/add}"
       class="btn btn-primary btn-sm mb-3"> Добавить страну </a>
    <br/>

    <hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Параметры</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPlaofcreat: ${plaofcreate}">

            <td th:text="${tempPlaofcreat.id}" />
            <td th:text="${tempPlaofcreat.name}" />

            <td>
                <a th:href="@{/plaofcreat/update (id=${tempPlaofcreat.id})}"
                   class="btn btn-info btn-sm">Обновить</a>
                <a th:href="@{/plaofcreat/delete (id=${tempPlaofcreat.id})}"
                   class="btn btn-warning btn-sm"
                   onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
            </td>

        </tr>

        </tbody>
    </table>


    <hr>
    <a th:href="@{/}">В главное меню</a>

</div>
</body>
</html>