<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Обновить информацию стран</title>
</head>

<body>
<div class="container">
  <h3>Страны</h3>
  <hr>

  <p class="h4 mb-4">Обновить информацию о стране</p>

  <form action="#" th:action="@{/plaofcreat/save}" th:object="${plaofcreate}"
        method="POST">

    <input type="hidden" th:field="*{id}">

    <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
           placeholder="Название" required>

    <hr>

    <button type="submit" class="btn btn-warning col-2">Сохранить</button>
  </form>
  <hr>
  <a th:href="@{/plaofcreat/list}">К списку стран</a>
</div>
</body>

</html>