<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Список типов</title>
</head>
<body>
<div class="container">

  <h3>Сорта</h3>

  <div th:text="${type.name}">
  </div>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Название</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempSort : ${sortList}">

      <td th:text="${tempSort.id}" />
      <td th:text="${tempSort.name}" />
      <td>
        <a th:href="@{/type/addSort (typeId=${type.id}, sortId=${tempSort.id})}"
           class="btn btn-warning btn-sm">Добавить</a>
      </td>

    </tr>
    </tbody>
  </table>


  <!-- <nav aria-label="Pagination" th:if="${achievementList.totalPages gt 0}">
     <ul class="pagination justify-content-center font-weight-bold">

       <li class="page-item" th:classappend="${achievementList.number eq 0} ? 'disabled'">
         <a class="page-link"
            th:href="@{/customer/achievementList (pageNumber=${achievementList.number lt 2 ? 1 : achievementList.number},pageSize=${achievementList.size})}"
            aria-label="Previous" title="Previous Page" data-toggle="tooltip">
           <span aria-hidden="true">&laquo;</span>
         </a>
       </li>

       <li class="page-item" th:classappend="${i eq achievementList.number + 1} ? 'active'"
           th:each="i : ${#numbers.sequence( 1, achievementList.totalPages, 1)}">
         <a class="page-link" th:href="@{/customer/achievementList (pageNumber=${i},pageSize=${achievementList.size})}" th:text="${i}"
            th:title="${'Page '+ i}" data-toggle="tooltip"></a>
       </li>

       <li class="page-item" th:classappend="${achievementList.number + 1 eq achievementList.totalPages} ? 'disabled'">
         <a class="page-link"
            th:href="@{/customer/achievementList (pageNumber=${achievementList.number + 2},pageSize=${achievementList.size})}"
            aria-label="Next" title="Next Page" data-toggle="tooltip">
           <span aria-hidden="true">&raquo;</span>
         </a>
       </li>

     </ul>
   </nav>
   <div class="container" align="right">
     Записей на странице:
     <a class="text-end" th:href="@{/customer/achievementList (pageNumber=${achievementList.number + 1}, pageSize=5)}"
        th:text="5"></a>
     <a class="text-end" th:href="@{/customer/achievementList (pageNumber=${achievementList.number + 1}, pageSize=10)}"
        th:text="10"></a>
     <a class="text-end" th:href="@{/customer/achievementList (pageNumber=${achievementList.number + 1}, pageSize=15)}"
        th:text="15"></a>
   </div>
 -->

  <hr>
  <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>