<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Список стран</title>
</head>
<body>
<div class="container">

<!--  <h3 th:text="${person.surname}+' '+${person.name}+' '+${person.patronymic}"></h3>-->
  <hr>
  <a th:href="@{/type/selectPlaofcreat (id=${type.id})}"
     class="btn btn-primary btn-sm mb-3"> Добавить страну к типу </a>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Страна</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempPlaofcreate : ${type.plaofcreates}">

      <td th:text="${tempPlaofcreate.id}" />
      <td th:text="${tempPlaofcreate.name}" />

      <td>
        <a th:href="@{/credit/update (id=${tempPlaofcreate.id})}"
           class="btn btn-info btn-sm">Обновить</a>

        <a th:href="@{/type/deleteplace (id_type=${type.id}, id_place=${tempPlaofcreate.id})}"
           class="btn btn-warning btn-sm"
           onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
      </td>

    </tr>

    </tbody>
  </table>


  <a th:href="@{/}">В главное меню</a>

</div>
</body>
</html>