<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Список сортов</title>
</head>
<body>
<div class="container">

  <hr>
  <a th:href="@{/type/selectSort (id=${type.id})}"
     class="btn btn-primary btn-sm mb-3"> Добавить сорт к типу </a>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Сорт</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempSort : ${type.sorts}">

      <td th:text="${tempSort.id}" />
      <td th:text="${tempSort.name}" />

      <td>
        <a th:href="@{/type/delatesort (id_type=${type.id}, id_sort=${tempSort.id})}"
           class="btn btn-warning btn-sm"
           onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
      </td>

    </tr>

    </tbody>
  </table>


  <a th:href="@{/}">В главное меню</a>

</div>
</body>
</html>