<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Тип пивка</title>
</head>
<body>
<div class="container">

    <h3>типы пива</h3>
    <hr>
    <a th:href="@{/type/add}"
       class="btn btn-primary btn-sm mb-3"> Добавить тип </a>
    <br/>

    <hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Тип</th>
            <th>Параметры</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempType : ${type}">

            <td th:text="${tempType.id}" />
            <td th:text="${tempType.name}" />

            <td>
                <a th:href="@{/type/update (id=${tempType.id})}"
                   class="btn btn-info btn-sm">Обновить</a>
                <a th:href="@{/type/delete (id=${tempType.id})}"
                   class="btn btn-warning btn-sm"
                   onclick="if (!(confirm('Удалить?'))) return false">Удалить</a>
                <a th:href="@{/type/plaofcreat (id=${tempType.id})}"
                   class="btn btn-info btn-sm">Отобразить страны</a>
                <a th:href="@{/type/showsorts (id=${tempType.id})}"
                   class="btn btn-info btn-sm">Отобразить сорта</a>
            </td>

        </tr>
        </tbody>
    </table>

    <hr>
    <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>