<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>Список типов</title>
</head>
<body>
<div class="container">

  <h3>Сорта</h3>

  <div th:text="${sort.name}">
  </div>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Название</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempType : ${typeList}">

      <td th:text="${tempType.id}" />
      <td th:text="${tempType.name}" />
      <td>
        <a th:href="@{/sort/addType (sortId=${sort.id}, typeId=${tempType.id})}"
           class="btn btn-warning btn-sm">Добавить</a>
      </td>

    </tr>
    </tbody>
  </table>


  <hr>
  <a th:href="@{/}">В главное меню</a>


</div>
</body>
</html>