<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text = "'Меню'"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h3>Меню</h3>
    <hr>
    <a th:href="@{/sort/list}"
       class="btn btn-primary btn-sm mb-3"> Список сортов</a>
    <br/>
    <a th:href="@{/type/list}"
       class="btn btn-primary btn-sm mb-3"> Список типов</a>
    <br/>
    <a th:href="@{/plaofcreat/list}"
       class="btn btn-primary btn-sm mb-3"> Список стран</a>
    <br/>
    </div>
</body>
</html>


